*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    padding: .2rem;
}

.container {
    padding: 0 1em;
}
.input-btn-login button{
    /* display: block; */
    border: 1px solid #ccc;
    outline: none;
}
.p {
    margin-bottom: 1em;
    padding: 15px;
    background-color: rgb(41, 138, 194);
    box-shadow: 5px 5px 8px rgb(41, 138, 194);
}

.p h2, .p p {
    color: #fff;
    padding: .2rem;
}

input[type="button"] {
    padding: 1em;
    background-color: cornflowerblue;
    border: none;
    border-radius: 4px;
    width: 40%;
    margin: 4rem auto;
    display: block;
    outline: none;
    cursor: pointer;
    padding: 15px 5px;
}
input[type="button"]:hover{
    background-color: #082352;
    color: #fff;
}
#main-container{
    max-width: 700px;
    margin: 3rem auto;
}
#main-container input[type="text"]{
    outline: none;
    border-radius: 5px;
    padding: 5px 10px ;
    border: none;
}
#main-container h1{
    padding: 10px 30px;

}

.username-list-item {
    position: relative;
    /* cursor: pointer; */
}

.username-list-item > span {
    font-weight: 600;
}

span .flecha {
    width: 10px;
    display: inline-block;
}

.username-sublist {
    text-align: left;
    list-style: none;
    position: absolute;
    top: 100%;
    font-size: 14px;
    display: none;
    border-radius: 5px;
}

.username-list-item:hover .username-sublist {
    display: block;
    background-color: white;
    z-index: 10;
}

.username-subitem {
    margin-top: 0rem;
    width: 190px;
}

.username-subitem a {
    text-decoration: none;
    color: rgb(83, 87, 90);
}

.username-subitem a div {
    display: block;
}

.username-subitem div > img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}


.formSendAnswer, .blockSend{
    text-align: center;
}
@media (max-width: 575.98px) { 
    .blockSend{
        text-align: end;
    }
}
.text-center{text-align: center;}
.formSendAnswer{
    margin: 3rem 0;
}
.sendAnswer input{
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}